/* Paleta de colores */
:root {
  --primary-black-color:#212121;
  --primary-text-color:#757575;
  --primary-white-color:#fff;

  --accent-color:#2196f3;
  --background-black-color:#21303a;
  --background-gray-color:#f5f4fa;
  --button-filter-color:#f5f4fa;
  --button-primary-hover-color:#188ce8;
  --logo-black-color:#000;
  --text-white-opacity:#ffffff99;
  --highlight-color:#2196F3;
  --container-padding: calc((100% -1200px)/2);
}

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box ;
}

body {
  background-color:var(--primary-white-color);
  color:var(--primary-text-color);
  font-family: "Roboto", "Arial";
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.container {
  padding:0 15px;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 var(--container-padding);
} 

.main-menu {
  width: 293px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  font-weight: 500;
}
.header-contacts{
  width: 329px;
  display: flex;
  justify-content: space-around;
  fill: #AFB1B8;
}

.icon {
  display: flex;
  width: 1em;
  height: 1em;
  border-radius: 4px;
  fill: #AFB1B8;
} 

.icon-value{
  background-color: var(--background-gray-color);
  display: flex;
  align-items: center;
  display: inline-block;
  width: 270px;
  height: 120px;
  padding: 25px;
  border-radius: 4px;
}

.main-button {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color:var(--primary-white-color);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700px;

  border:none;
  outline: none; 
  text-transform: capitalize;
  padding: 0px;
}
.main-button:hover{
  background-color: var(--button-primary-hover-color);
}

.logo {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  margin-top: 53px;
  margin-left: 152px;
}

.logo-black {
  color:var(--logo-black-color);
}

.logo-white {
  color: var(--primary-white-color);
}

.section {
  padding: 94px 0;
}

.section > h2 {
  color: var(--primary-black-color);
  text-align: center;
  font-size: 32px;
  font-weight: 700px;
  padding: 30px 0;
}

a{
  text-decoration: none;
}

.top-box {
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 200px var(--container-padding);
  text-align: center;
  opacity: 0.8;
  background-image: url("../images/Img0.jpg");
  background-repeat: no-repeat;
  background-position: center;
  letter-spacing: 0.06em;
}

.top-box .main-title{
  width: 500px;
  margin: 20px auto;
  color: var(--primary-white-color);
  font-size: 44px;
  text-transform: capitalize;
}

.value-list{
  display: flex;
  justify-content: space-between;
}

.value{
  width: 270px;
  height: 251px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}
.icon-value {
  display: flex;
  justify-content: center;  
}
.icon-customer{
  width: 170px;
  height: 81px;
  border:#AFB1B8 1px solid;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-customer:hover{
  border-color: #2196f3;
}
.value-list li .title{
  height: 50px;
  text-transform: uppercase;
  color: var(--primary-black-color);
  margin-top: 30px ;
}

.whatwedo-section .container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.whatwedo-section .container ul li {
  list-style: none;
  width: 360px;
}
.members-section {
  background-color: var(--background-gray-color);
  padding-bottom: 56px;
  margin-bottom: 100px;
}

.members-section .container ul{
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.members-section li{
  background-color: var(--primary-white-color);
  text-align: center;
  list-style: none;
  width: 270px;
  height: 428px;
}

.members-section li h3 {
  margin: 20px 0 10px 0;
}

.members-section li p{
  margin-top: 30px;
}

.members-section .container .team-cards li ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  height: 35px;
  width: 35px;
}

.members-section .container .team-cards li ul li a .icon{
  height: 35px;
  width: 35px;
  fill:var(--primary-text-color);
}

.members-section .container .team-cards li ul li a:hover{
  background-color: var(--highlight-color);
}

.members-section .container .team-cards li ul li a:hover, 
.members-section .container .team-cards li ul li a:focus {
  fill: var(--primary-white-color);
}
.button-link {
  color: var(--primary-black-color);
  background-color: #f5f4fa;
  width: 261px;
  height: 50px;
  font-size: 16px;
  font-weight: 500px;
}
/* button:hover {
  color: white;
  background-color: var(--accent-color);
} */
.main-title {
  color: white;
  font-style: Roboto;
  font-size: 44px;
  font-weight: 900;
  text-align: center;
}

ul {
  list-style-type: none;
  display: flex;
}

.link {
  color: var(--primary-black-color);
  text-decoration: none;
}

.link:hover {
  color: var(--accent-color);
  text-decoration: none;
}

p {
  color: var(--primary-black-color);
}


a {
  text-decoration: none;
}

img {
  text-decoration: none;
}

.h2-title {
  color: var(--primary-black-color);
  text-align: center;
  font-size: 32px;
  font-weight: 700px;
  padding: 30px 0;
}

.img-list {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

footer {
  background-color: var(--background-black-color);
  padding: 94px var(--container-padding);
}

address ul{
  list-style: none;
}
address .contact {
  display: block;
  color: var(--text-white-opacity);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  padding: 5px 0;

}
.customers .container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 204px;
}

.companies{
  display: flex;
  justify-content: space-between;
  fill:#AFB1B8
}

.companies .icon-customer:hover{
  fill:#188ce8
}