body {
  background-color: white;
  font-family: "Roboto", "Arial";
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-box {
  background-color: #2f303a;
  width: 1600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.bottom-box {
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1510px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  color: white;
  background-color: #2196f3;
  width: 261px;
  height: 50px;
  font-size: 16px;
  font-weight: 700px;
  justify-content: center;
}

.button-link {
  color: #212121;
  background-color: #f5f4fa;
  width: 261px;
  height: 50px;
  font-size: 16px;
  font-weight: 500px;
}
button:hover {
  color: white;
  background-color: #2196f3;
}
.main-title {
  color: white;
  font-style: Roboto;
  font-size: 44px;
  font-weight: 900;
  text-align: center;
}
/*Espacio para menú navegación*/
.logo {
  color: #2196f3;
  font-weight: 700;
  font-size: 26px;
}

.main-menu {
  color: #212121;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.header-contacts {
  color: #757575;
  font-weight: 500;
  text-decoration: none;
}

ul {
  list-style-type: none;
  display: flex;
}

.link {
  color: #212121;
  text-decoration: none;
}

.link:hover {
  color: #2196f3;
  text-decoration: none;
}

p {
  color: #757575;
}

.header-contacts:hover {
  color: #2196f3;
  text-decoration: none;
}

a {
  text-decoration: none;
}

li {
  background: #ffffff;
}

img {
  text-decoration: none;
}
.IT-devices {
  display: flex;
  padding-bottom: 94px;
  justify-content: space-between;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
nav {
  display: flex;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.h2-title {
  text-align: center;
}
.whatwedo-section {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.members-section {
  width: 1177px;
  height: 368px;
  left: 208px;
  top: 1696px;
  display: flex;
  justify-content: space-between;
}

.img-list {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.wrkr {
  width: 270px;
  height: 368px;
  left: 208px;
  top: 1716px;
  text-align: center;
  background: #ffffff;
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

footer {
  background-color: #2f303a;
}

address {
  width: 231px;
  height: 92px;
  left: 215px;
  top: 2258px;
  width: 1200px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
