/* Paleta de colores */
:root {
  --primary-black-color:#212121;
  --primary-text-color:#757575;
  --primary-white-color:#fff;

  --accent-color:#2196f3;
  --background-black-color:#21303a;
  --background-gray-color:#f5f4fa;
  --button-filter-color:#f5f4fa;
  --button-primary-hover-color:#188ce8;
  --logo-black-color:#000;
  --text-white-opacity:#ffffff99;
  --highlight-color:#2196F3;
  --container-padding: calc((100% -1200px)/2);

}
*{
  margin: 0;
  padding: 0;
  box-sizing:border-box ;
}

body {
  background-color:var(--primary-white-color);
  color:var(--primary-text-color);
  font-family: "Roboto", "Arial";
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}

.main-button {
  background-color: var(--accent-color);
  color:var(--primary-white-color);
  font-size: 16px;
  font-weight: 700px;

  border:none;
  outline: none; 
  text-transform: capitalize;
  padding: 10px 20px;
}
.main-button:hover{
  background-color: var(--button-primary-hover-color);
}

.container {
  padding:0 15px;
  max-width: 1200px;
  margin: auto;
}

.logo {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
}

.logo-black {
  color:var(--logo-black-color);
}

.logo-white {
  color: var(--primary-white-color);
}

.section {
  padding: 94px;
}

.section > h2 {
  color: var(--primary-black-color);
}

a{
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: row; */
  height: 80px;
  padding: 0 var(--container-padding);
}


header nav {
  display: flex;
  align-items: center;
  gap: 100px;
}


.top-box {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2f303a;
  padding: 200px var(--container-padding);
  text-align: center;

  background-image: url("/images/img0.jpg");
  background-repeat: no-repeat;
  color:var(--primary-white-color);
  text-align: center;
  background-position: center;
}

/* button {
  color: white;
  background-color: var(--accent-color);
  font-size: 16px;
  font-weight: 700px;
  border:none;
  outline: none;  
  justify-content: center;
  padding: 10px 20px;
} */

.top-box .main-title{
  width: 500px;
  margin: 20px auto;
  color: var(--primary-white-color);
  font-size: 44px;
  text-transform: capitalize;
}

.value-promise{
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  display: flex;
}

.value-promise li{
  list-style: none;
  width: 240px;
}

.value-promise li .title{
  height: 50px;
  text-transform: uppercase;
  color: var(--primary-black-color);
}

.whatwedo-section .container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.whatwedo-section .container ul li {
  list-style: none;
  width: 360px;
}
.members-section {
  background-color: var(--background-gray-color);
}

.members-section li{
  background-color: var(--primary-white-color);
  text-align: center;
  list-style: none;
}

.members-section li h3 {
  margin: 20px 0 10px 0;
}

.members-section li p{
  margin-top: 30px;
}

.members-section .container .team-cards li ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  height: 35px;
  width: 35px;
}

.members-section .container .team-cards li ul li a .icon{
  height: 35px;
  width: 35px;
  fill:var(--primary-text-color);
}

.members-section .container .team-cards li ul li a:hover{
  background-color: var(--highlight-color);
}

.members-section .container .team-cards li ul li a:hover, 
.members-section .container .team-cards li ul li a:focus {
  fill: var(--primary-white-color);
}
.button-link {
  color: var(--primary-black-color);
  background-color: #f5f4fa;
  width: 261px;
  height: 50px;
  font-size: 16px;
  font-weight: 500px;
}
/* button:hover {
  color: white;
  background-color: var(--accent-color);
} */
.main-title {
  color: white;
  font-style: Roboto;
  font-size: 44px;
  font-weight: 900;
  text-align: center;
}
/*Espacio para menú navegación*/


.main-menu {
  color: var(--primary-black-color);
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.header-contacts {
  color: var(--primary-black-color);
  font-weight: 500;
  text-decoration: none;
}

ul {
  list-style-type: none;
  display: flex;
}

.link {
  color: var(--primary-black-color);
  text-decoration: none;
}

.link:hover {
  color: var(--accent-color);
  text-decoration: none;
}

p {
  color: var(--primary-black-color);
}

.header-contacts:hover {
  color: var(--accent-color);
  text-decoration: none;
}

a {
  text-decoration: none;
}

li {
  background: var(--primary-white-color);
}

img {
  text-decoration: none;
}
.IT-devices {
  display: flex;
  padding-bottom: 94px;
  justify-content: space-between;
}



.h2-title {
  text-align: center;
}




.img-list {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.team-cards {
  width: 270px;
  height: 428px;
  left: 208px;
  top: 1716px;
  text-align: center;
  background: var(--primary-white-color);
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

footer {
  background-color: #2f303a;
}

address {
  width: 231px;
  height: 92px;
  left: 215px;
  top: 2258px;
  width: 1200px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 4px;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */
